<main class="main-contents">
    <div class="top-image-area">
        <div class="top-image">
            <div class="slider-item"><%= image_tag "top_image1.jpg", class: "pic" %></div>
            <div class="slider-item"><%= image_tag "top_image2.jpg", class: "pic" %></div>
            <div class="slider-item"><%= image_tag "top_image3.jpg", class: "pic" %></div>
        </div>
        <div class="top-message">
            <p>贈る相手から、誕生日から、イベントから</p>
            <p class="message">誰かに贈る、<br>
            お花を探されるあなたへ</p>
        </div>
    </div>

    <div class="select-box-area">
        <%= render "layouts/selectbox" %>
    </div>

    <div class="about">
        <h2>About</h2>
        <h3>若者と花屋をつなぐ</h3>
        <p>このサイトのコンセプト</p>
        <p>伝えたいメッセージ</p>
        <p>言いたいこと、叶えたい思い</p>
    </div>

    <div class="topics">
        <h2>Topics</h2>
    </div>

    <div class="ranking">
        <h2>Ranking</h2>
    </div>
</main>