<main class="main-contents">
    <div class="image-area">
        <div class="image">
            <%= image_tag "gazou1.png", class: "pic1" %>
        </div>
    </div>

    <%= render "layouts/selectbox" %>
</main>

<div class="wrapper">
    <ul class="slider">
        <li class="slider-item slider-item01"><%= image_tag "gazou1.png" %></li>
        <li class="slider-item slider-item02"><%= image_tag "gazou2.png" %></li>
    </ul>
</div>