<h2>Result</h2>

<table class="table table-hover table-inverse">
    <tbody>
        <% @flowers.each do |flower| %>
            <tr>
                <td><%= flower.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>