/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* universal */

html {
   font-size: 62.5%;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

div {
   display: block;
}

nav {
   display: block;
}


input[type="text"] {
   border-radius: 10px;
   border: 1px solid #ccc;
   margin-bottom: 10px;
}


/* search window */

.search-form {
   padding: 15px 0;
}

.search-form {
   position: relative;
}

.text {
   height: 30px;
   padding: 0 10px;
   position: absolute;
   left: 0;
   top: 0;
}

#range {
   margin-top: 30px;
}

.btn {
   height: 30px;
   position: absolute;
   left: 120px;
   top: 0;
   background: none;
   color: #666;
   border: none;
   font-size: 20px;
}

.btn:hover {
   color: #7fbfff;
}

/* select box */

select {
   width: 200px;
   height: 30px;
}

.select-box-area {
   text-align: center;
}

.category-select {
   display: inline-block;
}

#sub_category {
   display: inline-block;
}

.category-btn {
   display: inline-block;
}


 /* header */

.l-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   width: 300px;
   height: 100vh;
   overflow: scroll;
   background-color: #f3f3ee;
}

.l-header-inner {
   padding: 60px 40px;
}

.l-header-logo {
   width: 200px;
   height: 34px;
}

header a {
   text-decoration: none;
   color: #000;
}

.l-header-nav {
   margin-top: 50px;
}

.l-header-nav-list a {
   display: inline-block;
   padding: 15px 0;
   line-height: 1.0;
   font-size: 2.4rem;
   font-weight: 400;
   position: relative;
   text-decoration: none;
}



 /* body */

 body {
   font-size: 1.6rem;
 }

 .container {
   padding-bottom: 180px;
   margin-left: 300px;
 }

 .top-image-area {
   margin-bottom: 80px;
 }

 .pic {
   width: 100%;
 }

 /* top page */

 .top-message {
   height: 30%;
   width: 60%;
   background-color: #ffffff96;
   position: absolute;
   top: 30%;
   left: 300px;
   padding-left: 30px;
 }

 .top-message p {
   font-size: 25px;
 }

 .top-message .message {
   font-size: 35px;
 }
 

 .about {
   height: 400px;
   background-color: #eee;
   margin: 30px 0;
   padding: 10px 20px;
 }

 .topics {
   height: 400px;
   background-color: #eee;
   margin: 30px 0;
   padding: 10px 20px;
 }

 .ranking {
   height: 400px;
   background-color: #eee;
   margin: 30px 0;
   padding: 10px 20px;
 }


 /* footer */

 footer ul {
    float: right;
 }

 footer li {
    float: left;
    padding-left: 10px;
 }

 /* search result */

 .items {
   width: 1200px;
   display: flex;
   flex-wrap: wrap;
 }

 .items li {
   width: calc(50% - 20px);
 }