/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* universal */

html {
   font-size: 62.5%;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

div {
   display: block;
}

nav {
   display: block;
}



 /* header */

.l-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   width: 300px;
   height: 100vh;
   overflow: scroll;
   background-color: #f3f3ee;
}

.l-header-inner {
   padding: 60px 40px;
}

.l-header-logo {
   width: 200px;
   height: 34px;
}

header a {
   text-decoration: none;
   color: #000;
}

.l-header-nav {
   margin-top: 50px;
}

.l-header-nav-list a {
   display: inline-block;
   padding: 15px 0;
   line-height: 1.0;
   font-size: 2.4rem;
   font-weight: 400;
   position: relative;
   text-decoration: none;
}



 /* body */

 .container {
    height: 500px;
    margin-left: 300px;
 }

 /* footer */

 footer ul {
    float: right;
 }

 footer li {
    float: left;
    padding-left: 10px;
 }

 /* search result */

 .items {
   width: 1200px;
   display: flex;
   flex-wrap: wrap;
 }

 .items li {
   width: calc(50% - 20px);
 }